*.jl.*.cov
*.jl.cov
*.jl.mem
*.log
/Manifest.toml
/docs/Manifest.toml
/docs/build/
/deps/downloads/
/deps/src/

# added by BestieTemplate
*.rej
.DS_Store
.benchmarkci
benchmark/*.json
coverage
env
node_modules
